{{define "title"}}Collection{{end}}
{{define "main"}}
<nav>
	<ul class="request-nav">
		<li class="request-nav-crumb">
			<a class="crumb" href="/">Home</a>
		</li>
		<li class="request-nav-crumb">
			{{.Name}}
		</li>
	</ul>
</nav>

{{$ep := .Path | trim | pathescape}}
<div class="flex-container">
	<div class="flex-smaller">
		<h3>Requests</h3>
		<ul>
			{{range .Requests}}
			<li>
				<a href="/collection/{{$ep}}/request/{{.Name}}">{{.Name}}</a>
				<span class="fade">
					- <a class="fade" href="/collection/{{$ep}}/request/{{.Name}}/rename">Rename</a>
					- <a class="fade" href="/collection/{{$ep}}/request/{{.Name}}/delete">Delete</a>
				</span>
			</li>
			{{end}}
		</ul>
		<form action="/collection/{{$ep}}/request/create/new" method="POST">
			<span>Create new request:</span>
			<input type="text" name="name" />
			<input type="submit" value="Submit" />
		</form>
	</div>

	<div class="flex-smaller">
		<h3>Collection Environment</h3>
		<form action="/current-env" method="POST">
			<span>Current:</span>
			<input type="text" name="current" value="{{.CurrentEnvironment}}" />
			<input type="submit" value="Submit" />
		</form>
		<form action="/collection/{{$ep}}/config" method="POST">
			<textarea id="json-editarea" name="config" hidden>{{.EnvironmentText}}</textarea>
			<div id="json-editor" class="half"></div>
			<input type="hidden" name="scope" value="collection" />
			<input type="submit" value="Save">
		</form>
	</div>
</div>
<script language="javascript" type="text/javascript" charset="utf-8" src="/editor/json-bundle.min.js"></script>
{{end}}
