{{define "title"}}Collection{{end}}
{{define "main"}}
<h3>{{.Title}}</h3>

<a href="/">&lt;&lt; Home</a>

<div class="flex-container">
	<div class="flex-smaller">
		<h3>Requests</h3>
		<ul>
			{{range .Requests}}
			<li><a href="/collection/{{$.EscapedPath}}/request/{{.Title}}">{{.Title}}</a><span class="fade"> - <a class="fade" href="/collection/{{$.EscapedPath}}/request/{{.Title}}/delete">Delete</a></span></li>
			{{end}}
		</ul>
		<form action="/collection/{{.EscapedPath}}/request/new" method="POST">
			<span>Create new request:</span>
			<input type="text" name="title" />
			<input type="submit" value="Submit" />
		</form>
	</div>

	<div class="flex-smaller">
		<h3>Environment</h3>
		<form action="/collection/{{.EscapedPath}}/config" method="POST">
			<textarea class="half" name="config">{{.EnvironmentText}}</textarea>
			<input type="submit" value="Save">
		</form>
	</div>
</div>
{{end}}
