{{define "title"}}Home{{end}}
{{define "main"}}
<div class="flex-container">
	<div class="flex-bigger">
		<h3>Collections</h3>
		<ul>
			{{range .Files}}
			{{$ep := .Path | pathescape}}
			<li>
				<a href="/collection/{{$ep}}">{{.Name}}</a>
				<span class="fade">
					- <a class="fade" href="/collection/{{$ep}}/rename">Rename</a>
					- <a class="fade" href="/collection/{{$ep}}/unregister">Unregister</a>
					- <a class="fade" href="/collection/{{$ep}}/delete">Delete</a>
				</span>
			</li>
			<ul>
				{{range .Requests}}
				<li><a href="/collection/{{$ep}}/request/{{$ep}}">{{.Name}}</a></li>
				{{end}}
			</ul>
			{{end}}
		</ul>
		<form action="/collection/create/new" method="POST">
			<span>Create new collection:</span>
			<input type="text" name="name" />
			<input type="submit" value="Submit" />
		</form>
		<div>
			<button id="autoregister">Autoregister</button>
		</div>
	</div>
</div>

<script>
const autoregister = async () => {
	await fetch("/autoregister", {
		method: "POST"
	})
	location.href = "/"
}
document.getElementById("autoregister").addEventListener("click", autoregister);
</script>
{{end}}
