{{define "title"}}Home{{end}}
{{define "main"}}
<div class="flex-container">
	<div class="flex-bigger">
		<h3>Collections</h3>
		<ul>
			{{range .Files}}
			{{$ep := .EscapedPath}}
			<li><a href="/collection/{{$ep}}">{{.Title}}</a><span class="fade"> - <a class="fade" href="/collection/unregister/{{$ep}}">Unregister</a></span></li>
			<ul>
				{{range .Requests}}
				<li><a href="/collection/{{$ep}}/request/{{.Title}}">{{.Title}}</a></li>
				{{end}}
			</ul>
			{{end}}
		</ul>
		<form action="/collection/new" method="POST">
			<span>Create new collection:</span>
			<input type="text" name="title" />
			<input type="submit" value="Submit" />
		</form>
	</div>
	<div class="flex-smaller">
		<h3>Base Environment</h3>
		<form action="/config" method="POST">
			<textarea class="half" name="config">{{.BaseEnvironmentText}}</textarea>
			<input type="submit" value="Save">
		</form>
	</div>
</div>
{{end}}
