{{define "title"}}Home{{end}}
{{define "main"}}
<div class="flex-container">
	<div class="flex-bigger">
		<h3>Collections</h3>
		<ul>
			{{range .Files}}
			{{$ep := .EscapedPath}}
			<li>
				<a href="/collection/{{$ep}}">{{.Name}}</a>
				<span class="fade">
					- <a class="fade" href="/collection/{{$ep}}/rename">Rename</a>
					- <a class="fade" href="/collection/{{$ep}}/unregister">Unregister</a>
					- <a class="fade" href="/collection/{{$ep}}/delete">Delete</a>
				</span>
			</li>
			<ul>
				{{range .Requests}}
				<li><a href="/collection/{{$ep}}/request/{{.Name}}">{{.Name}}</a></li>
				{{end}}
			</ul>
			{{end}}
		</ul>
		<form action="/collection/create/new" method="POST">
			<span>Create new collection:</span>
			<input type="text" name="name" />
			<input type="submit" value="Submit" />
		</form>
		<div>
			<button id="autoregister">Autoregister</button>
		</div>
	</div>
	<div class="flex-smaller">
		<h3>Core Environment</h3>
		<form action="/current-env" method="POST">
			<span>Current:</span>
			<input type="text" name="current" value="{{.CurrentEnvironment}}" />
			<input type="submit" value="Submit" />
		</form>
		<form action="/config" method="POST">
			<textarea id="json-editarea" name="config" hidden>{{.CoreEnvironmentText}}</textarea>
			<div id="json-editor" class="half"></div>
			<input type="hidden" name="scope" value="core" />
			<input type="submit" value="Save">
		</form>
	</div>
</div>

<script language="javascript" type="text/javascript" charset="utf-8" src="/editor/json-bundle.min.js"></script>
<script>
const autoregister = async () => {
	await fetch("/autoregister", {
		method: "POST"
	})
	location.href = "/"
}
document.getElementById("autoregister").addEventListener("click", autoregister);
</script>
{{end}}
