{{define "title"}}Rename Collection{{end}}
{{define "main"}}
<div class="flex-container flex-column">
	<div class="flex-smaller"><a href="/">&lt;&lt; Home</a></div>
	<div class="flex-smaller"><a href="/collection/{{.EscapedPath}}">&lt;&lt; Back to Collection</a></div>
</div>

<h3>Rename collection {{.Title}}?</h3>

<form action="/collection/{{.EscapedPath}}/rename" method="POST">
	<input type="text" name="new-name" />
	<input type="submit" value="Submit" />
	<button onclick="cancel(event)">Cancel</button>
</form>

<script>
const cancel = (event) => {
	event.preventDefault()
	location.href = "/"
}
</script>
{{end}}
