{{define "title"}}Request{{end}}
{{define "main"}}
{{with .Error}}
<div class="error-flash">{{.}}</div>
{{end}}
<div class="flex-container flex-column">
	<div class="flex-smaller"><a href="/">&lt;&lt; Home</a></div>
	<div class="flex-smaller"><a href="/collection/{{.EscapedPath}}">&lt;&lt; Back to Collection</a></div>
</div>

<h3>{{.CollectionTitle}} - {{.Title}}</h3>

<div class="flex-container">
	<div class="flex-bigger">
		<h3>Edit</h3>
		<form action="/collection/{{.EscapedPath}}/request/{{.Title}}/edit-script" method="POST">
			<textarea id="lua-editarea" name="edit" hidden>{{.EditText}}</textarea>
			<div id="lua-editor" class="half"></div>
			<input id="lua-submit" type="submit" value="Save">
			<button id="lua-exec" type="button" onclick="execRequest('{{.EscapedPath}}', '{{.Title}}', getCurrentScope(), getCurrentEnvironment())">Execute</button>
			<button id="lua-view" type="button" onclick="viewRequest('{{.EscapedPath}}', '{{.Title}}', getCurrentScope(), getCurrentEnvironment())">View Substituted Script</button>
		</form>
	</div>
	<div class="flex-smaller">
		<h3>{{.EnvScope}} Environment</h3>
		<form action="/current-env" method="POST">
			<span>Current:</span>
			<input type="text" id="current" name="current" value="{{.CurrentEnvironment}}" />
			<input type="submit" value="Submit" />
		</form>
		<form action="/collection/{{.EscapedPath}}/config" method="POST">
			<textarea id="json-editarea" name="config" hidden>{{.EnvironmentText}}</textarea>
			<div id="json-editor" class="half"></div>
			<input type="hidden" name="title" value="{{.Title}}" />
			<label for="scope">Scope:</label>
			<select id="scope" name="scope" onchange="loadScope(value)">
				<option value="collection">Collection</option>
				<option value="core">Core</option>
				<option value="temp">Temporary</option>
			</select>
			<input id="json-submit" type="submit" value="Save">
		</form>
	</div>
</div>
<div>
	<h3>Execution Results</h3>
	<textarea id="result" class="third" readonly>{{.ExecText}}</textarea>
</div>

<script language="javascript" type="text/javascript" charset="utf-8" src="/ws.js"></script>
<script language="javascript" type="text/javascript" charset="utf-8" src="/editor/lua-bundle.min.js"></script>
<script language="javascript" type="text/javascript" charset="utf-8" src="/editor/json-bundle.min.js"></script>

<script>
const scope = new URLSearchParams(window.location.search).get("scope")
if (scope !== null) {
	document.getElementById("scope").value = scope
}

const getCurrentScope = () => {
	return document.getElementById("scope").value
}

const getCurrentEnvironment = () => {
	return document.getElementById("current").value
}

const loadScope = (value) => {
	window.location.search = `?scope=${value}`
}
</script>
{{end}}
