{{define "title"}}Request{{end}}
{{define "main"}}
<div class="flex-container flex-column">
	<div class="flex-smaller"><a href="/">&lt;&lt; Home</a></div>
	<div class="flex-smaller"><a href="/collection/{{.EscapedPath}}">&lt;&lt; Back to Collection</a></div>
</div>

<h3>{{.CollectionTitle}} - {{.Title}}</h3>

<div class="flex-container">
	<div class="flex-bigger">
		<h3>Edit</h3>
		<form action="/collection/{{.EscapedPath}}/request/{{.Title}}/edit-script" method="POST">
			<textarea class="half" name="edit">{{.EditText}}</textarea>
			<input type="submit" value="Save">
			<button type="button" onclick="execRequest('{{.EscapedPath}}', '{{.Title}}')">Execute</button>
			<button type="button" onclick="viewRequest('{{.EscapedPath}}', '{{.Title}}')">View Substituted Script</button>
		</form>
	</div>
	<div class="flex-smaller">
		<h3>{{.EnvScope}} Environment</h3>
		<form action="/collection/{{.EscapedPath}}/config" method="POST">
			<textarea class="half" name="config" id="request-script">{{.EnvironmentText}}</textarea>
			<input type="hidden" name="title" value="{{.Title}}" />
			<label for="scope">Scope:</label>
			<select name="scope" id="scope" onchange="loadScope(value)">
				<option value="collection">Collection</option>
				<option value="core">Core</option>
			</select>
			<input type="submit" value="Save">
		</form>
	</div>
</div>
<div>
	<h3>Execution Results</h3>
	<textarea id="result" class="third" readonly>{{.ExecText}}</textarea>
</div>

<script src="/ws.js"></script>
<script>
const scope = new URLSearchParams(window.location.search).get("scope")
if (scope !== null) {
	document.getElementById("scope").value = scope
}

const loadScope = (value) => {
	window.location.search = `?scope=${value}`
}
</script>
{{end}}
