:root {
  --bg-color: #060521;
  --fg-color: #99eeff33;
  --border-color: #f6f6f6;
  --text-color: white;
  --fade-text-color: #a1a1a1;
  --error-border: #e60000;
  --error-bg: #800000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

textarea {
  width: calc(100% - 0.5vw);
  background-color: var(--bg-color);
  color: var(--text-color);
}

button, input[type=submit], input[type=text], select {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.error-flash {
  border-style: solid;
  border-color: var(--error-border);
  background-color: var(--error-bg);
  padding: 5px;
}

.half {
  height: 50vh;
}

.third {
  height: 30vh;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-bigger {
  flex: 4;
}

.flex-smaller {
  flex: 2;
}

.flex-smallest {
  flex: 1;
  overflow: hidden;
}

.fade {
  color: var(--fade-text-color);
}

.cm-scroller {
  overflow: auto;
}

.cm-editor {
  height: 50vh;
}

.request-nav {
  list-style-type: none;
  padding-left: 0;
}

.request-nav-crumb {
  display: inline-block;
}

.request-nav-crumb a::after {
  display: inline-block;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

.right-justify {
  margin-left: auto;
  margin-right: 5vw;
}

.listbox {
  border: 1px solid var(--text-color);
  margin-right: 0.5vw;
  overflow: scroll;
}

.request-links {
  padding: 0;
  list-style: none;
  margin: 1vw;
}

.right {
  float: right;
  margin-right: 0.5vw;
}

#lua-editor {
  /* top | right | bottom | left */
  margin: 2px 0.5vw 2px 0px;
  border: 1px solid var(--text-color);
}

#json-editor {
  /* top | right | bottom | left */
  margin: 2px 0px 2px 0px;
  border: 1px solid var(--text-color);
}
