:root {
  --bg-color: #262626;
  --border-color: #f6f6f6;
  --text-color: white;
  --fade-text-color: #a1a1a1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

textarea {
  width: calc(100% - 10px);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.half {
  height: 50vh;
}

.third {
  height: 30vh;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-bigger {
  flex: 2;
}

.flex-smaller {
  flex: 1;
}

.fade {
  color: var(--fade-text-color);
}
