:root {
  --bg-color: #060521;
  --fg-color: #99eeff33;
  --border-color: #f6f6f6;
  --text-color: white;
  --fade-text-color: #a1a1a1;
  --error-border: #e60000;
  --error-bg: #800000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

textarea {
  width: calc(100% - 10px);
  background-color: var(--bg-color);
  color: var(--text-color);
}

button, input[type=submit], input[type=text], select {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.error-flash {
  border-style: solid;
  border-color: var(--error-border);
  background-color: var(--error-bg);
  padding: 5px;
}

.half {
  height: 50vh;
}

.third {
  height: 30vh;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-bigger {
  flex: 2;
}

.flex-smaller {
  flex: 1;
}

.fade {
  color: var(--fade-text-color);
}

.cm-scroller {
  overflow: auto;
}

.cm-editor {
  height: 50vh;
}

#lua-editor {
  /* top | right | bottom | left */
  margin: 2px 10px 2px 0px;
  border: 1px solid var(--text-color);
}

#json-editor {
  /* top | right | bottom | left */
  margin: 2px 0px 2px 0px;
  border: 1px solid var(--text-color);
}
